body {
    font-family: 'Roboto', sans-serif;
}

ul, li {
    padding: 0px;
    margin: 0px;
    display: block;
}

#logo {
    width: 60px;
    height: auto;
    margin-top: 20px;
}

.menu__a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #272727;
}

.menu__item {
    margin: 40px 20px;
}

.menu__number {
    margin-top: 40px;
    margin-bottom: 40px;
}

.number__a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #B176B1;
}

.about__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.about__text {
    margin-right: auto;
    margin-left: auto;
    width: 770px;
    margin-bottom: 40px;
}

.about__text p {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #272727;
}

#services {
    background: #F9F9F9;
    padding-top: 50px;
}

.services__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-bottom: 30px;
}

.services__img {
    width: 250px;
    height: 250px;
    background-image: url("../img/manik.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.services__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 220px;
}