body {
    font-family: 'Roboto', sans-serif;
}

ul, li {
    padding: 0px;
    margin: 0px;
    display: block;
}

#header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40.4vw;
}

#logo {
    width: 50px;
    height: auto;
    margin: 20px;
}

.menu {
    margin-top: 30px;
}

.menu__item {
    margin-right: 40px;
}

.menu__a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.menu__a:hover {
    text-decoration: none;
    color: black;
}

#div_for_margin {
    width: 130px;
}

#frame {
    width: 450px;
    margin-top: 25px;

}

.slogan {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 48px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 60px;

}

.slogan__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 30px;
}

.quality {
    text-align: center;
}

.safety {
    text-align: center;
}

.comfort {
    text-align: center;
}

.advantages__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #444444;
    margin-top: 20px;
}

.advantages__text {
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #444444;
    max-width: 300px;

}


.advantages__img {
    display: table;
    margin: 0 auto;
}

.advantages p {
    margin-left: auto;
    margin-right: auto;
}

.advantages p {
    margin-left: auto;
    margin-right: auto;
}

.advantages p {
    margin-left: auto;
    margin-right: auto;
}
