body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

ul, li {
    padding: 0px;
    margin: 0px;
    display: block;
}

#logo {
    width: 60px;
    height: auto;
    margin-top: 20px;
}

.menu__a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #272727;
}

.menu__item {
    margin: 40px 20px;
}

.menu__number {
    margin-top: 40px;
    margin-bottom: 40px;
}

.number__a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #B176B1;
}

.about__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.about__text {
    margin-right: auto;
    margin-left: auto;
    max-width: 770px;
    margin-bottom: 40px;
}

.about__text p {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #272727;
}

#services {
    background: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 45px;
}

.services__items {
    text-align: center;
}

.services__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-bottom: 30px;
}

.services__img {
    width: 250px;
    height: 250px;
    background-image: url("../img/manik.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 220px;
}

#advantages {
    padding-top: 50px;
    padding-bottom: 45px;
    text-align: center;
}

.advantages__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
}

.advantages__img {
    margin-top: 50px;
    margin-bottom: 35px;
}

.advantages__name {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #444444;
    text-align: center;
    margin-bottom: 10px;
}

.advantages__text {
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    color: #444444;
}

#masters {
    background: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 30px;
}

.masters__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-bottom: 30px;
}

.master__img {

}

#carouselSecondExampleIndicators {
    padding-bottom: 60px;
}

.master__name {
    font-weight: bold;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 30px;
    font-style: normal;
    line-height: 18px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #444444;
}

.master__profession {
    margin-left: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.07em;
    color: #B176B1;
    border-radius: 4px;
}

.master__experience {
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    font-size: 12px;
    letter-spacing: 0.07em;
    color: #000000;
    border-radius: 4px;
}

.master__text {
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.03em;
    color: #000000;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 60px;
}

.master__info {
    height: 240px;
}

.master__example {
    margin-left: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border-radius: 4px;
    background: #B176B1;
    height: 150px;
    padding: 5px;
}

.faq__title {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 0.05em;
    color: #B176B1;
    text-align: center;
    margin-bottom: 30px;
}

#faq {
    padding-top: 50px;
    padding-bottom: 30px;
}

.panel-heading {
    border-radius: 4px;
    border: 2px solid #B176B1;
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}

.faq__answer {
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: black;
}

.faq__answer:hover {
    color: #B176B1;
}

.panel-title {
    padding-top: 7px;
}

.panel-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.master {
    background-color: white;
    border-radius: 5px;
}